{% extends "base.html" %}
{% block main %}
<div class='container mt-5'>
    <h5 class='text-center'>Search results for <b>{{keyword}}</b></h5>
<div class='' style='display: flex; flex-flow: wrap;'>

    {% for d in data %}
    
    <div class="card m-3" style="width: 21rem;">
        {% with d.thumbnails|first as first_doc %}
        <a href='/watch?v={{d.id}}'><img src={{ first_doc.url }} class="card-img-top" alt="..."> </a>
        {% endwith %}
        <div class="card-body">
            <a class'videoTitle card-title' href='/watch?v={{d.id}}'> {{d.title}}</a>
          <div class='gap-3'  style='display: flex; flex-flow: wrap; '>
          <p class="card-text"><b>Date:</b> {{d.publishedTime}}</p>
          <p class="card-text"><b>Duration:</b> {{d.duration}}</p>
          </div>
        </div>
      </div>
   
      {% endfor %}

      {% for d in data2 %}
    
      <div class="card m-3" style="width: 21rem;">
          {% with d.thumbnails|first as first_doc %}
          <a href='/watch?v={{d.id}}'><img src={{ first_doc.url }} class="card-img-top" alt="..."> </a>
          {% endwith %}
          <div class="card-body">
              <a class'videoTitle card-title' href='/watch?v={{d.id}}'> {{d.title}}</a>
            <div class='gap-3'  style='display: flex; flex-flow: wrap; '>
            <p class="card-text"><b>Date:</b> {{d.publishedTime}}</p>
            <p class="card-text"><b>Duration:</b> {{d.duration}}</p>
            </div>
          </div>
        </div>
     
        {% endfor %}
  

   
</div>
<div>
  <form action="" method="POST" >
    {% csrf_token %}
    <button hx-get="{% url 'SearchResult' %}" class="btn btn-primary">Next - {{page}}</button>
  </form>
 
</div>
   
</div>

  {% endblock main %}